.results-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    .declared-winner{
        font-size:2rem;
    }
    .stat-line{
        font-size:1.5rem;
        margin: 25px 0;
    }
}