.questions-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;

    li.question-input-group {
        max-height:200px;
        
        .question { 
            font-size:1.5rem;
            color:$color-dark;
        }
        .answers {
            width:80%;
            margin: 10px auto;
            white-space: nowrap;
            display:flex;   
            justify-content: center;
            

            .player{
                display:inline-block;
                margin: 0 10px;
                
             
                label {
                        display:block;
                        width:100%;
                }

                input {
                    background: $color-dark;
                    color: $color-highlight;
                    width:50px;
                    border-radius: 2px;
                    padding: 10px;
                    font-size: 0.875rem;
                    margin: 10px 0;
                    display:inline-block;
                    border: none;
                    font-size:1.25rem;
                    text-align:center;
                    
                    &[type=number]::-webkit-inner-spin-button, 
                    &[type=number]::-webkit-outer-spin-button { 
                        -webkit-appearance: none;
                        margin: 0; /* Removes leftover margin */
                    }

                    &:focus {
                            outline-color: lighten($color-highlight, 30%);
                            outline-width: thin;
                            outline-style: solid;
                            outline-offset: 1px;
                    }
                }
            }
        }     
    }
}